<!DOCTYPE html>
<html>
  <head>
    <title>Coffee server</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/saucer.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  </head>
  <body>
    <header>
      <h1>Saucer</h1>
    </header>
    <div id="mainContainer">
      <%= yield %>
    </div>
  </body>
</html>
